@import 'src/styles/variables';
@import 'src/styles/mixins';
.navbar {
  background-color: transparent;
  padding: 1.5rem 0;
  transition: all 0.1s ease-in-out;
}
.navbar__onLight {
  background-color: $white-text;
}
.nav {
  display: none;
  @include breakpoint('tablet') {
    display: flex;
  }
  @include breakpoint('desktop') {
    margin-left: 35px;
  }
}
.search-btn {
  @include breakpoint('desktop') {
    margin-left: auto !important;
  }
}
.navbar-btn {
  @include breakpoint('desktop') {
    margin-left: 42px;
  }
}
.nav-link {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $text-grey !important;
  margin: 0 1.5rem;
  padding: 0.25rem 0;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $primary;
    color: $text-dark !important;
  }
}
.open-icon {
  display: block;
  @include breakpoint('tablet') {
    display: none;
  }
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 36px !important;
  @include breakpoint('desktop') {
    padding: 0 100px !important;
  }
}

