$primary: #5956E9;
$accent: #b59aef;
$white-text: #fff;
$text-dark: #292930;
$text-grey: #999FAE;
$yellow-balls: #FFDC60;
$pink-balls: #FAB8C4;
$text-hero-btn: #2522BA;
$grey-bg: #ECF2F6;

$breakpoints: (
  'small-mobile': 375px,
  'mobile': 767px,
  'tablet': 1024px,
  'desktop': 1200px,
) !default;

$p-xs: 4px;
$p-s: 8px;
$p-m: 16px;
$p-l: 24px;
$p-xl: 32px;
$p-xxl: 44px;

$m-xs: 4px;
$m-s: 8px;
$m-m: 16px;
$m-l: 24px;
$m-xl: 32px;
$m-xxl: 44px;
