@import 'src/styles/variables';
.button {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $white-text;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  border: none;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  cursor: pointer;
  &:focus {
    box-shadow: none !important;
  }
}
.primary {
  background-color: $primary;
  border-radius: 20px;
  &:hover {
    background-color: #353057;
  }
}
.secondary {
  color: $primary;
  border-radius: 20px;
  background-color: transparent;
  padding: 24px !important;
  border: 1px solid #e3e6e9;
  &:hover,
  &:focus {
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;
  }
  &:active {
    color: $primary !important;
    background-color: transparent !important;
    border: 1px solid $primary !important;
  }
}
.hero {
  color: $text-hero-btn;
  background-color: $pink-balls;
  padding: 24px 47px!important;
  letter-spacing: -0.04em;
  border-radius: 20px;
  border: none;
  &:hover {
    background-color: $text-hero-btn;
    color: $pink-balls;
  }
}