@import 'src/styles/variables';
@import 'src/styles/mixins';

.signup-section-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.045em;
    color: $text-dark;
    margin-bottom: 32px;
}

.input-form-styles {
    position: relative !important;
}


.advantages-button {
    width: 100% !important;
    background-color: $primary;
    color: $white-text;
    @include breakpoint('mobile') {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 178px;
        min-height: 82px !important;
    }
}

.signup-section-form {
    margin-top: -328px;
    position: relative;
    z-index: 1000;
    @include breakpoint('mobile') {
        max-width: 504px !important;
        margin: -138px auto 0 auto;
    }
}

.advantages-content {
    padding-top: 150px !important;
}

.advantages-title {
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: $primary;
    margin-bottom: 18px;
    letter-spacing: -0.025em;
}

.advantages-text {
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 48px;
    line-height: 48px;
    color: $text-dark;
    margin-bottom: 34px;
    letter-spacing: -0.025em;
    @include breakpoint ('tablet') {
        font-size: 68px;
        line-height: 68px;
    }
    @include breakpoint ('desktop') {
        font-size: 80px;
        line-height: 80px;
    }
}

.advantages-description {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
    margin-bottom: 48px;
    @include breakpoint ('tablet') {
        width: 40%;
    }
}

.icon-wrapper-text {
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: $text-dark;
    margin-bottom: 0;
    padding-left: 26px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.icon-styles-wrapper {
    display: block;
    position: relative;
    min-width: 56px !important;
    height: 56px !important;
}

.main-container-fluid {
    position: relative !important;
    padding-bottom: 72px !important;
}

.advantages-content {
    @include breakpoint('desktop') {
        position: relative !important;
    }
}

.advantages-image-wrapper {
    overflow: hidden;
    @include breakpoint('tablet') {
        width: 100% !important;
        height: 100%;
        position: absolute !important;
        top: 50px;
        right: 0;
    }
    @include breakpoint('desktop') {
        position: relative;
    }
}

.advantages-phone {
    width: 400px;
    right: 20px;
    @include breakpoint('mobile') {
        margin: 0 auto;
        right: 0;
    }
    @include breakpoint('tablet') {
        width: 590px !important;
        margin: 0;
        position: absolute !important;
        right: -77px;
    }
    @include breakpoint('desktop') {
        width: 590px !important;
        margin: 0;
        right: 0;
    }
}
