@import 'src/styles/variables';
@import 'src/styles/mixins';

// .advantages-outer {
//     min-height: 750px;
//     background-color: red;
// }

.signup-section-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.045em;
    color: $text-dark;
    margin-bottom: 32px;
}

.input-form-styles {
    position: relative !important;
}


.advantages-button {
    width: 100% !important;
    background-color: $primary;
    color: $white-text;
    @include breakpoint('mobile') {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 178px;
        min-height: 82px !important;
    }
}

.signup-section-form {
    margin-top: -328px;
    position: relative;
    z-index: 1000;
    @include breakpoint('mobile') {
        max-width: 504px !important;
        margin: -138px auto 0 auto;
    }
}

.advantages-content {
    padding-top: 150px;
}

.advantages-title {
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: $primary;
    margin-bottom: 18px;
    letter-spacing: -0.025em;
}

.advantages-text {
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 48px;
    line-height: 48px;
    color: $text-dark;
    margin-bottom: 34px;
    letter-spacing: -0.025em;
}

.advantages-description {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
    margin-bottom: 48px;
}

.icon-wrapper-text {
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: $text-dark;
    margin-bottom: 0;
}

.icon-wrapper {
    display: flex;
    align-items: center;
}

.icon-styles-wrapper {
    display: block;
    position: relative;
    min-width: 56px !important;
    height: 56px !important;
}

