@import 'src/styles/variables';
@import 'src/styles/mixins';

.container-outer {
    background-color: #f0f0f0;
}

.container-inner {
    overflow: hidden !important;
}

.image-wrapper {
    transform: rotate(-30deg);
}

.image-wrapper-upper {
    transform: translateX(200%);
    margin-bottom: 40px;
    @include breakpoint('mobile-medium') {
        transform: translateX(100%);
    }
    @include breakpoint('tablet') {
        transform: translateX(50%);
    }
}
.image-wrapper-lower {
    transform: translateX(-450%);
    @include breakpoint('mobile-medium') {
        transform: translateX(-250%);
    }
    @include breakpoint('tablet') {
        transform: translateX(-150%);
    }
    
}

.image-wrapper-upper,
.image-wrapper-lower {
    display: flex;
}

.image-styles {
    min-width: 250px;
    @include breakpoint('mobile-medium') {
        min-width: 375px;
    }
}
.image-styles {
    margin-right: 20px;
}